
.card {
    margin-top: 10%;
    margin-left: 25%;
    width:380px; 
    background:rgb(237, 237, 69, 17); 
    padding:12px; 
    border-radius:8px; 
     
}
.card1 {
    margin-top: 10%;
    margin-left: 25%;
    width:380px; 
    background:rgb(255, 165, 0, 0.17); 
    padding:12px; 
    border-radius:8px; 
    
}     
.card2 {    
    margin-top: 10%;
    margin-left: 25%;
    width:380px; 
    background:rgb(0, 128, 0, 0.17); 
    padding:12px; 
    border-radius:8px; 
    ; 
}  
.card3 {
    margin-top: 10%;
    margin-left: 25%;
    width:380px; 
    background:rgb(0, 0, 255, 0.17); 
    padding:12px; 
    border-radius:8px; 
     
}
.card4 {
    margin-top: 10%;
    margin-left: 25%;
    width:380px; 
    background:rgb(165, 42, 42, 0.17); 
    padding:12px; 
    border-radius:8px; 
     
}.card5 {
    margin-top: 10%;
    margin-left: 25%;
    width:380px; 
    background:rgb(128, 0, 128, 0.17); 
    padding:12px; 
    border-radius:8px; 
     
}
.card6 {
    margin-top: 10%;
    margin-left: 25%;
    width:380px; 
    background:rgb(128, 128, 128, 0.17); 
    padding:12px; 
    border-radius:8px; 
     
}   
.card7 {
    margin-top: 10%;
    margin-left: 25%;
    width:380px; 
    background:rgb(255, 192, 203, 0.17); 
    padding:12px; 
    border-radius:8px; 
     
}
body {
  margin: 0;
  background: url('https://images.unsplash.com/photo-1503264116251-35a269479413') no-repeat center center fixed;
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 160px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: black;
  padding: 8px 8px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555555;
  color: white;
}
